In [1]:
import findspark
findspark.init('/home/danielf/spark-3.3.1-bin-hadoop3')
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

23/02/10 10:34:39 WARN Utils: Your hostname, spark resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/02/10 10:34:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/10 10:34:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df = spark.read.json('/home/danielf/Desktop/pyspark-course-udemy/Spark_DataFrames/people.json')

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.columns

['age', 'name']

In [12]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [16]:
from pyspark.sql.types import (StructField, StructType, 
                               StringType, IntegerType)

In [21]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [22]:
final_struc = StructType(fields=data_schema)

In [23]:
df = spark.read.json('/home/danielf/Desktop/pyspark-course-udemy/Spark_DataFrames/people.json', schema=final_struc)

In [25]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [27]:
type(df['age'])

pyspark.sql.column.Column

In [29]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [32]:
df.withColumn('age +1', df['age']+1).show()

+----+-------+------+
| age|   name|age +1|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    31|
|  19| Justin|    20|
+----+-------+------+

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
df.withColumnRenamed('age', 'new age').show()

+-------+-------+
|new age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [36]:
df.createOrReplaceTempView('people')

In [37]:
result = spark.sql('SELECT * FROM people')

In [38]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
result = spark.sql('SELECT * FROM people WHERE age > 20')
result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+